extends mainEmail

block content
  td.container
        .content
          // START CENTERED WHITE CONTAINER
          table.main(role='presentation')
            // START MAIN CONTENT AREA
            tr
              td.wrapper
                table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                  tr
                    td
                      p Hi #{name}!,
                      p
                        |We are excited to welcome to you Oxford Language School, Learn any language of your choice at your own pace
                      table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
                        tbody
                          tr
                            td(align='left')
                              table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                                tbody
                                  tr
                                    td
                                      a(href=`${url}`) Navigate through our website
                      p
                        | Check out any Language Course of your choice
                      p Good luck! Hope it you enjoy it
            // END MAIN CONTENT AREA
          // END CENTERED WHITE CONTAINER